{% extends 'layouts/base.html' %}

{% block content %}

<h1>About {{username}}</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, ipsa. Voluptas veritatis similique ullam laudantium rerum atque! Ullam velit deleniti atque officiis alias architecto aliquid, facere, consequuntur autem expedita odit molestiae doloribus nesciunt omnis, ipsa at porro ipsum accusantium quam eveniet quia similique eligendi corporis eum? Quia deleniti natus harum reprehenderit sed itaque dolorum minus odio blanditiis, eos earum temporibus hic dicta expedita enim iste corrupti illo voluptates dolor ullam distinctio cumque? Dicta consectetur architecto eum beatae totam vero corrupti quae minus dolore? Distinctio corporis veniam cum ab, maiores, veritatis esse libero, facilis vero in tenetur sapiente! Doloremque, incidunt amet.</p>

<p>Website create by {{username}}</p>

{% endblock %}